<html>
  <head>
    <title>Клиент для сокетов</title>
  <style>
    #log{
    border: solid 1px #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    padding: 5px;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    }
    .btn{
      border: 1px solid black;
      padding: 2px;
      margin: 10px;
      width:fit-content;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
<body>

<div id="input" style="display: inline-grid;">
  <label for="host">Хост</label>
  <input type="text" id="host">
  <label for="token">Токен</label>
  <input type="text" id="token">
  <label for="farm_id">ID фермы</label>
  <input type="number" id="farm_id">
  <p><input name="farm" type="radio" value="FarmToken">Ферма</p>
  <p><input name="farm" type="radio" value="Token" checked>Клиент</p>
  <div style="display: inline-flex;">
  <div class="btn" style="border-color: green;"><a  id="connect_btn" onclick="Connect()">Подключиться</a></div>
  <div class="btn" style="border-color: red;"><a  id="close" onclick="socket.close(1000, 'работа закончена');">Отключиться</a></div>
  </div>
</div>
<br>
<div id="log"></div>
<div class="btn"><a  onclick="$('#log').html('')">Очистить</a></div>
<div id="actions">
  <div class="btn"><a  id="get_statistic" onclick="send('get_statistic')">Получить последнюю статистику</a></div>
  <div class="btn"><a  id="is_online" onclick="send('is_online')">Ферма онлайн?</a></div>
  <p>Запрос</p>
  <textarea type="text" id="req" style="width:300px; height: 200px;">{"action": "get_statistic","options":{"from_date":"2021-05-05T23:00:00","to_date":"2021-05-10T23:00:00"}}</textarea>
  <div class="btn"><a  id="send" onclick="send($('#req').text())">Отправить</a></div>
</div>


<script>
  let socket;
  var div = $("#log");
  $("#host").val("ws://"+$(location).attr('host'));
function Connect(){
  socket = new WebSocket($("#host").val()+"/ws/farm/"+$("#farm_id").val()+"/?Authorization="+$('input[name="farm"]:checked').val()+" "+$("#token").val());
  socket.onopen = function(e) {writeLog("Сокет подключен "+$("#host").val()+"/ws/farm/"+$("#farm_id").val()+"/?Authorization=Token "+$("#token").val(),'green','text-align: center');};
  socket.onmessage = function(event) {console.log(JSON.parse(event.data));writeLog(event.data,'blue');};
  socket.onclose = function(event) {if (event.wasClean) {writeLog('Соединение закрыто','red','text-align: center');console.log(`[close] Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);} else {writeLog('Соединение прервано','red','text-align: center');console.log('[close] Соединение прервано');}};
  socket.onerror = function(error) {log.write(`${error.message}`,'red');console.log(`[error] ${error.message}`);};
};

function send(t){
  if (t=='get_statistic'){
    writeLog(JSON.stringify({'action': 'get_latest_statistic','options':{}}),'black','text-align: right');
    socket.send(JSON.stringify({'action': 'get_latest_statistic','options':{}}));
  }
  else if(t=='is_online'){
    writeLog(JSON.stringify({'action':'is_online'}),'black','text-align: right');
    socket.send(JSON.stringify({'action':'is_online'}));
  }
  else{
    writeLog(t,'black','text-align: right');
    socket.send(t);
  }
}

function writeLog(mess, color='black', style=""){
  data=mess;
  log=document.getElementById("log");
  log.innerHTML+='<p style="color:'+color+'; '+style+'">'+mess+'</p>';
  autoScroll();
};

function autoScroll(){
  div.scrollTop(div.prop('scrollHeight'));
}
</script>
</body>
</html>

